<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>资料列表</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/main.css" rel="stylesheet" />
	</head>

	<body>
		<div id="app">
			<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
				<div class="mui-scroll">
					<template v-if="nodata == 0">
						<ul class="mui-table-view top_list">
							<li class="mui-table-view-cell" v-for="item in somedata">
								<a @tap="openList({id:item.id})" class="mui-navigate-right">
								{{item.title}}
								</a>
							</li>
						</ul>
					</template>
					<template v-else>
						<div class="nodata mui-text-center">
							<img src="../img/nodata.png" alt="" />
							<div class="margin_t20">暂无数据~</div>
						</div>
					</template>
				</div>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/app.js"></script>
		<script type="text/javascript">
			mui.init({
				pullRefresh: {
					container: "#pullrefresh",
					down: {
						height: 50,
						auto: false,
						contentdown: "下拉可以刷新",
						contentover: "释放立即刷新",
						contentrefresh: "正在刷新...",
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						contentnomore: '没有更多数据了~',
						callback: pullupRefresh
					}
				}
			});

			var vm = new Vue({
				el: "#app",
				data: {
					guid:'',
					somedata: '',
					page: 2,
					nodata: 0,
					is_active: 0
				},
				mounted: function() {

				},
				updated: function() {

				}
			})

			mui.plusReady(function() {
				var page = plus.webview.getWebviewById('data2-list.html')
				vm.guid = page.guid
				getData()
			})

			//下拉刷新业务实现
			function pulldownRefresh() {
				getData()
			}

			//上拉加载业务实现
			function pullupRefresh() {
				getPageData()
			}

			//获取数据
			function getData() {
				var state = app.getState();
				var data = {};
				data.user_key = state.user_key;
				data.subject_category_id = state.subject_id;
				data.pid = vm.guid;
				data.p = 1
				// console.log(JSON.stringify(data))
				mui.ajax(server + 'Api/V1/Course/course_category_list', {
					data: data,
					dataType: 'json', //服务器返回json格式数据
					type: 'get', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；              
					success: function(data) {
						// console.log(JSON.stringify(data))
						mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
						vm.somedata = [];
						vm.page = 2;
						if (data.status == 1) {
							vm.myRank = data.info.my;
							if (data.info.length == 0) {
								mui('#pullrefresh').pullRefresh().disablePullupToRefresh();
								vm.nodata = 1
							} else if (data.info.length < 20) {
								mui('#pullrefresh').pullRefresh().disablePullupToRefresh();
								vm.nodata = 0
								vm.somedata = data.info;
							} else {
								mui('#pullrefresh').pullRefresh().refresh(true);
								vm.nodata = 0
								vm.somedata = data.info;
							}
						} else {
							//mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
							mui.toast(data.msg)
						}
					},
					error: function(xhr, type, errorThrown) {
						//console.log(xhr.responseText)
						//异常处理；
						mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
						mui.toast('网络异常');
					}
				});
			}

			//获取分页数据
			function getPageData() {
				var state = app.getState();
				var data = {};
				data.user_key = state.user_key;
				data.subject_category_id = state.subject_id;
				data.pid = vm.guid;
				data.p = vm.page
				// console.log(JSON.stringify(data))
				mui.ajax(server + 'Api/V1/Course/course_category_list', {
					data: data,
					dataType: 'json', //服务器返回json格式数据
					type: 'get', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；              
					success: function(data) {
						//console.log(JSON.stringify(data))
						if (data.status == 1) {
							if (data.info.length < 20) {
								mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
							} else {
								mui('#pullrefresh').pullRefresh().endPullupToRefresh(false);
							}

							for (var item of data.info) {
								vm.somedata.push(item)
							}
							vm.page++
						} else {
							mui('#pullrefresh').pullRefresh().endPullupToRefresh(false);
							mui.toast(data.msg)
						}

					},
					error: function(xhr, type, errorThrown) {
						//		            	console.log(xhr.responseText)
						//异常处理；
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(false);
						mui.toast('网络异常');
					}
				});
			}

			function openList(item) {
				mui.openWindow({
					url: "data2-sub.html",
					id: "data2-sub.html",
					styles: {
						statusbar: {
							background: '#FFFFFF'
						},
						popGesture: 'close'
					},
					extras: {
						guid: item.id
					},
					show: {
						autoShow: true,
					},
					waiting: {
						autoShow: true,
					}
				})
			}
		</script>
	</body>

</html>
