<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>修改密码</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/main.css" rel="stylesheet" />
		<style>
			.mui-input-group .mui-input-row{ padding: 8px 0; height: auto; line-height: 40px;}
			.mui-input-row .mui-input-clear~.mui-icon-clear, .mui-input-row .mui-input-password~.mui-icon-eye, .mui-input-row .mui-input-speech~.mui-icon-speech{ top: 20px;}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-arrowleft mui-pull-left"></a>
			<h1 class="mui-title">修改密码</h1>
		</header>
		<div id="app" class="mui-content">
			<div class="mui-input-group">
				<div class="mui-input-row">
					<label>原密码</label>
					<input type="password" class="mui-input-clear" placeholder="输入原密码" v-model="password">
				</div>
				<div class="mui-input-row">
					<label>新密码</label>
					<input type="password" class="mui-input-clear" placeholder="设置新密码" v-model="new_password">
				</div>
				<div class="mui-input-row">
					<label>确认新密码</label>
					<input type="password" class="mui-input-clear" placeholder="确认新密码" v-model="confirm_password">
				</div>
			</div>
			<div class="btn-content">
				<button class="mui-btn mui-btn-block mui-btn-primary js_submit" data-loading-text="提交中">确定</button>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/app.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true
			});

			var vm = new Vue({
				el: '#app',
				data: {
					password: '',
					new_password: '',
					confirm_password: ''
				}
			})

			mui(document.body).on('tap', '.js_submit', function(e) {
				var _this = this

				if (vm.password == '') {
					mui.toast('请输入原密码')
					return false
				} else if (vm.password.length < 6) {
					mui.toast('原密码不能小于6位数')
					return false
				} else if (vm.new_password == '') {
					mui.toast('请输入新密码')
					return false
				} else if (vm.new_password.length < 6) {
					mui.toast('新密码不能小于6位数')
					return false
				} else if (vm.confirm_password == '') {
					mui.toast('请确认新密码')
					return false
				} else if (vm.new_password != vm.confirm_password) {
					mui.toast('两次密码不一致')
					return false
				}


				mui(_this).button('loading');
				var state = app.getState()
				var data = {}
				data.user_key = state.user_key;
				data.password = vm.password;
				data.password_1 = vm.new_password;
				data.password_2 = vm.confirm_password;

				mui.ajax(server + 'Api/V1/set/edit_pwd', {
					data: data,
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；              
					success: function(data) {
						// console.log(JSON.stringify(data))
						if (data.status == 1) {
							mui.back();
							mui.toast(data.msg)
						} else {
							mui.toast(data.msg)
						}
						vm.password = '';
						vm.new_password = '';
						vm.confirm_password = '';
						mui(_this).button('reset');
					},
					error: function(xhr, type, errorThrown) {
						// console.log(xhr.responseText)
						//异常处理；
						mui(_this).button('reset');
						mui.toast('网络异常');
					}
					// });
				});
			});
		</script>
	</body>

</html>
