<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>练习记录</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/wrong.css">
		<style>
			/*兼容iOS*/
			.mui-scroll-wrapper{ bottom: 50px;}
			
			/*安卓兼容*/
			/*body{ padding-bottom: 50px;}*/
			
			.mui-checkbox.mui-left label, .mui-radio.mui-left label{ padding: 0; transform: translateX(.7rem); transition: .1s;}
			.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio]{ top: 50%; left: 0; right: auto; transform: translateY(-50%);}
			.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before{ font-size: 24px;}
			
			.active .mui-checkbox.mui-left label, .mui-radio.mui-left label{ padding: 0; transform: translateX(0);}
			.active .mui-checkbox input[type=checkbox], .active .mui-radio input[type=radio]{ display: none;}
			
			
			.del-box{ position: fixed; z-index: 999; bottom: 0; left: 0; right: 0; height: 50px; line-height: 50px;}
			.del-box button{ padding: 0; margin: 0; border:1px solid #008BF7; border-radius: 0; line-height: 50px; font-size: .3rem; font-weight: 700;}
			.del-box .btn-del{ border:1px solid #fff; border-top: 1px solid #f2f2f2;}
			.del-box .mui-btn-primary.btn-del{ border: 1px solid #008BF7;}
		</style>
	</head>

	<body>
		<div id="app">
			<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
				<div class="mui-scroll">
					<template v-if="nodata == 0">
						<form class="js_form">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell wrong_item" v-for="item in somedata">
									<a @tap="openAnswer({id:item.topic_id,type:8,title:item.title,set:0})" v-bind:class="is_active == 0?'active':''">
										<div class="mui-input-row mui-checkbox  mui-left">
											<label>
												<div class="mui-ellipsis-2" v-html="item.title"></div>
												<div class="margin_t10 wrong_info">
													<span class="numb">{{item.update_time}}</span>
												</div>
											</label>
											<input name="ids[]" type="checkbox" v-if="is_active == 1" v-bind:value="item.id">
										</div>
									</a>
								</li>
							</ul>
						</form>
					</template>
					<template v-else>
						<div class="nodata mui-text-center">
							<img src="../img/nodata.png" alt="" />
							<div class="margin_t20">暂无数据~</div>
						</div>
					</template>
				</div>
			</div>
			<div class="del-box" v-show="nodata == 0">
				<div class="mui-row" v-show="is_active == 0">
					<div class="mui-col-xs-12">
						<button class="mui-btn mui-btn-block mui-btn-primary btn-del">删除</button>
					</div>
				</div>
				<div class="mui-row" v-show="is_active == 1">
					<div class="mui-col-xs-5">
						<button class="mui-btn mui-btn-block btn-del" style="color: #333;">取消</button>
					</div>
					<div class="mui-col-xs-7">
						<button class="mui-btn mui-btn-block mui-btn-primary js_confirm">确定</button>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/zepto.min.js"></script>
		<script>
			mui.init({
				pullRefresh: {
					container: "#pullrefresh", //下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
					down: {
						height: 50, //可选,默认50.触发下拉刷新拖动距离,
						auto: true, //可选,默认false.首次加载自动下拉刷新一次
						contentdown: "下拉可以刷新", //可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
						contentover: "释放立即刷新", //可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
						contentrefresh: "正在刷新...", //可选，正在刷新状态时，下拉刷新控件上显示的标题内容
						callback: pulldownRefresh //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					},
					up: {
						height: 50,
						auto: false,
						contentrefresh: '正在加载...',
						contentnomore: '没有更多数据了~',
						callback: pullupRefresh
					}
				}
			});

			var vm = new Vue({
				el: "#app",
				data: {
					somedata: [],
					is_active: 0,
					type: 1,
					page: 2,
					nodata: 0
				},
				mounted: function() {

				},
				updated: function() {

				}
			});

			mui.plusReady(function() {

				//删除事件
				mui('.del-box').on('tap', '.btn-del', function() {
					if (vm.is_active == 0) {
						vm.is_active = 1
					} else {
						vm.is_active = 0
					}
				})

				mui('body').on('tap', '.js_confirm', function() {
					var form = $('.js_form').serializeArray();
					var arr = []
					var data = {}
					for (var i of form) {
						arr.push(i.value)
					}
					//					console.log(JSON.stringify(arr))
					var state = app.getState();
					data.user_key = state.user_key;
					data.ids = arr;
					//					console.log(JSON.stringify(data))
					mui.ajax(server + 'Api/V1/Home/answer_log_del', {
						data: data,
						dataType: 'json', //服务器返回json格式数据
						type: 'post', //HTTP请求类型
						timeout: 10000, //超时时间设置为10秒；              
						success: function(data) {
							mui.toast(data.msg)
							if (data.status == 1) {
								vm.is_active = 0
								getData()
								mui('#pullrefresh').pullRefresh().scrollTo(0, 0, 100)
							}
						},
						error: function(xhr, type, errorThrown) {
							console.log(xhr.responseText)
							//异常处理；
							mui.toast('网络异常');
						}
					});
				})
			})

			//下拉刷新业务实现
			function pulldownRefresh() {
				getData()
			}

			//上拉加载业务实现
			function pullupRefresh() {
				getPageData()
			}

			//获取数据
			function getData() {
				var state = app.getState();
				var data = {}
				data.user_key = state.user_key;
				data.type = vm.type;
				data.p = 1
				// console.log(JSON.stringify(data))
				mui.ajax(server + 'Api/V1/Home/answer_list', {
					data: data,
					dataType: 'json', //服务器返回json格式数据
					type: 'get', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；              
					success: function(data) {
						// console.log(JSON.stringify(data))
						mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
						vm.somedata = [];
						vm.page = 2;
						if (data.status == 1) {
							if (data.info.length == 0) {
								mui('#pullrefresh').pullRefresh().disablePullupToRefresh();
								vm.nodata = 1
							} else if (data.info.length < 20) {
								mui('#pullrefresh').pullRefresh().disablePullupToRefresh();
								vm.nodata = 0
								vm.somedata = data.info
							} else {
								mui('#pullrefresh').pullRefresh().refresh(true);
								vm.nodata = 0
								vm.somedata = data.info
							}
						} else {
							//		                	mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
							mui.toast(data.msg)
						}
					},
					error: function(xhr, type, errorThrown) {
						// console.log(xhr.responseText)
						//异常处理；
						mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
						mui.toast('网络异常');
					}
				});
			}

			//获取分页数据
			function getPageData() {
				var state = app.getState();
				var data = {}
				data.user_key = state.user_key;
				data.type = vm.type;
				data.p = vm.page
				console.log(JSON.stringify(data))
				mui.ajax(server + 'Api/V1/Home/answer_list', {
					data: data,
					dataType: 'json', //服务器返回json格式数据
					type: 'get', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；              
					success: function(data) {
						//		            	console.log(JSON.stringify(data))
						if (data.status == 1) {
							if (data.info.length < 20) {
								mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
							} else {
								mui('#pullrefresh').pullRefresh().endPullupToRefresh(false);
							}

							for (var item of data.info) {
								vm.somedata.push(item)
							}
							vm.page++
						} else {
							mui('#pullrefresh').pullRefresh().endPullupToRefresh(false);
							mui.toast(data.msg)
						}

					},
					error: function(xhr, type, errorThrown) {
						//		            	console.log(xhr.responseText)
						//异常处理；
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(false);
						mui.toast('网络异常');
					}
				});
			}

			// 去答题
			var titleNView = { //详情页原生导航配置
				backgroundColor: '#FFFFFF', //导航栏背景色
				titleText: '', //导航栏标题
				titleColor: '#333333', //文字颜色
				autoBackButton: true, //自动绘制返回箭头
				splitLine: { //底部分割线
					color: '#f2f2f2'
				}
			}
			function openAnswer(item) {
				
				if(vm.is_active == 1){
					return;
				}
				
				//更改详情页原生导航条信息和按钮信息
				titleNView.titleText = item.title;
				mui.openWindow({
					url: "answer_new.html",
					id: "answer_new.html",
					styles: {
						statusbar: {
							background: '#FFFFFF'
						},
						popGesture: 'close',
						titleNView: titleNView,
					},
					extras: {
						guid: item.id,
						type: item.type,
						set: item.set
					},
					show: {
						autoShow: true,
					},
					waiting: {
						autoShow: true,
					}
				})

			}
		</script>
	</body>

</html>
